body {
  background-image: url(../img/bg5.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

}

body {
  font-family: 'Open Sans', 'helvetica', arial, sans-serif;
  font-weight: 300;
  color: #62686f;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
  font-weight: 300;
}

.container {
  width: 960px;
  margin: 0 auto;
  margin-top: 80px;

  text-align: center;
}

.main-header {
  background-image: url(../img/banner.jpg);
  padding: 1px;
}

.main-header__avatar {
  margin-top: -70px;
  margin-bottom: 10px;
  border: 3px solid white;

  box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2);
  border-radius: 999px;
}

.main-header h1 {
  font-size: 50px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  color: white;
}


/*------------------------------------------------------------------------------*/
/*task 2 : 导航和页面内容*/
/*------------------------------------------------------------------------------*/

.main-nav {
  background-color: #333;
  padding: 1px;
}

.main-nav ul {
  /*去除ul的格式*/
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav ul li {
  /*设置 li 的外边框*/
  margin: 15px 10px;
  /*li 设置为内联模式，以便在一行*/
  display: inline-block;

}

.main-nav ul li a {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
}

.main-nav ul li a:hover {
  text-decoration: underline;
}


/*------------------------------------------------------------------------------*/
/*what i do section*/
/*------------------------------------------------------------------------------*/

.info-section {
  background-color: #fff;
  padding: 30px 60px; /* 上下左右留点空*/
}

.info-section ul {
  list-style: none;
}

.info-section ul li{
  display: inline-block;
}

.info-section header h2 {
  margin-bottom: 20px;

  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.info-section header h2:after {
  content: "";
  border-bottom: 3px solid black;
}

.info-section__description {
  font-style: italic;
  margin-bottom: 50px;
}

.whatido__skill-list {
    /*overflow: hidden 强制容器有足够的高度包围飘动元素。*/
  overflow: hidden;
}
/*给每个 li 设置预留图片的位置，图片的相关属性*/
.whatido__skill {
  background-repeat: no-repeat;
  background-position: center top;
  float: left;
  width: 33.3%;
  /*为图片留空间空间*/
  padding-top: 100px;
}

/*为每个技能配图片*/
.whatido__skill--code {
  background-image: url(../img/skill-code.png);
}

.whatido__skill--design {
  background-image: url(../img/skill-design.png);
}

.whatido__skill--product {
  background-image: url(../img/skill-product.png);
}

.whatido__skill p {
  width: 90%;
}

header h2:after {
  border-bottom: 3px solid black;
  border-top: 3px solid black;

}
