

/*----------------------------------------*/
/*固定背景*/
body {
  background-image: url(../img/bg5.jpg);
  /*背景不随页面滚动而滚动*/
  background-attachment: fixed;
  /*背景图始终充满整个屏幕*/
  background-size: cover;
  /*背景图居中*/
  background-position: center;

}

/* 全局字体, 各模块再按需调整 */
body {
  font-family: 'Open Sans', 'helvetica', arial, sans-serif;
  font-weight: 300;
  color: #62686f;
}

.clearfix:after{
    content:"";
    display:table;
    clear: both;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
  font-weight: 300;
}

/*----------------------------------------*/
/*页面内容加上外包围圈，
 围框里所有 block 元素的默认宽度是充满父容器的宽度，不需要个别为每个元素设置宽度。*/
.container {
  /*外包围框的宽度*/
  width: 960px;
  /*居中显示*/
  margin: 0 auto;
  margin-top: 100px;
  /*禁止 .container 折叠间距*/
  padding: 1px;
}

.main-header {
  margin: 0 auto;
  margin-top: 100px;
  background-image: url(../img/banner.jpg);
  height: 240px;
  /*这一句不能少*/
  padding: 1px;
}

.main-header__avatar {
  margin: 0 auto;
  display: block;
  margin: 0 auto;
  margin-top: -70px;
  margin-bottom: 10px;
  border: 3px solid white;
  width: 136px;

  border-radius: 999px;
  box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2);
}

.main-header h1 {
  text-align: center;
  font-weight: 300;
  font-size: 50px;
  font-family: 'Open Sans','helvetica',arial,sans-serif;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  color: white;
  margin-bottom: 20px;
}


/*------------------------------------------------------------------------------*/
/*task 2 : 导航和页面内容*/
/*------------------------------------------------------------------------------*/

.main-nav {
  background-color: #333;
  text-align: center;
}

.main-nav ul {
  /*去除ul的格式*/
  list-style: none;
  /*把浏览器默认的*/
  padding: 0;
  margin: 0;
}

.main-nav ul li {
  /*设置 li 的外边框*/
  margin: 15px 10px;
  /*li 设置为内联间隔清除模式，以便在一行*/
  display: inline-block;

}

.main-nav ul li a {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
}

.main-nav ul li a:hover {
  text-decoration: underline;
}


/*------------------------------------------------------------------------------*/
/*what i do section*/
/*------------------------------------------------------------------------------*/

.info-section {
  background-color: #fff;
  padding: 30px 60px; /* 上下左右留点空*/
  /*margin-bottom: 1px;*/
}

.info-section ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.info-section ul li{
  /*display: inline-block;*/
}

.info-section h2, header {
  position: relative;
}

.info-section h2{
    position: relative;
}

/*h2 标题下的横线*/
.info-section header h2:after {
  content: "";
  position: absolute;
  border-bottom: 3px solid black;
  width: 60px;
  bottom: -10px;
  /*位置：父容器，或者参照容器的一半宽的地方*/
  left: 50%;
  /*长度为60px,在左移30px，就居中了*/
  margin-left: -30px;
}

.info-section header h2 {
  text-align: center;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 3px;
}


.info-section__description {
  font-style: italic;
  text-align: center;
  margin-bottom: 50px;
}

.whatido {
  text-align: center;
}

.whatido__skill-list {
  /*去掉列表风格*/
  list-style: none;
  padding: 0px;
  margin: 0px;
    /*overflow: hidden 强制容器有足够的高度包围飘动元素。*/
  overflow: hidden;
}

/*给每个 li 设置预留图片的位置，图片的相关属性*/
.whatido__skill {
  /*禁止背景图重复*/
  background-repeat: no-repeat;
  /*居中背景图*/
  background-position: center top;

  float: left;
  width: 33.3%;
  /*为图片留空间空间*/
  padding-top: 100px;
}

/*为每个技能配图片*/
.whatido__skill--code {
  background-image: url(../img/skill-code.png);
}

.whatido__skill--design {
  background-image: url(../img/skill-design.png);
}

.whatido__skill--product {
  background-image: url(../img/skill-product.png);
}

.whatido__skill p {
  width: 90%;
}



/*------------------------------------------------------------------------------*/
/* Education and Experience                                                     */
/*------------------------------------------------------------------------------*/


.education-experience ul li img {
  float: left;
  width: 150px;
  padding: 1px;
}

/*.education-experience ul li {
}*/

.education-experience__description  {
  margin-left: 200px;
}

.education-experience__title {
  margin-left: 200px;
  margin-top: 1px;
  font-weight: bold;
}

.education-experience__list h3 {
  margin-left: 200px;
  margin-bottom: 5px;
}

.education-experience__list li {
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 20px;
}

/*------------------------------------------------------------------------------*/
/* 实现Photos                                                                   */
/*-----------------------------------------------------------------------------*/

.photos {
    box-sizing: border-box;
}

.photos *{
    box-sizing: inherit;
}


.photos .photos__list{
    margin: 0px 0px;
    display: inline-block;
}

.photos__list li img {
  width: 100%;
}

.photos__list li {
  width: 25%;
  padding: 10px;
  float: left;
}


/*------------------------------------------------------------------------------*/
/* 实现 Get in touch                                                            */
/*-----------------------------------------------------------------------------*/


.get-in-touch ul {margin-top: 30px;}
.get-in-touch h2:after{
    bottom: -10px;
}
.get-in-touch__list li{
    box-sizing: border-box;
    float: left;
    width: 25%;
    text-align: center;
}
.get-in-touch__list p{
    text-align: center;
}
.get-in-touch__list li img{
    height: 100px;
}

/*------------------------------------------------------------------------------*/
/* 实现 contact                                                                 */
/*-----------------------------------------------------------------------------*/
.contact ul{
  margin-top: 30px;
}

.contact h2:after{
  bottom: -10px;
}

.contact h2 {
  margin-top: 180px;
}

.contact input,
.contact textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;

  /*宽度和父容器一致*/
  display: inline-block;
  width: 100%;
  margin: 10px 0px;
}

.contact button {
  border: none;
  border-radius: 9999px;

  background: #ffd524;

  cursor: pointer;
  text-shadow: 0 1px 1px rgba(0,0,0,0.2);
  color: #fff;
  box-shadow: 0 3px 0 #daae1d;

  width: 100%;
  height: 36px;
  line-height: 36px;
  margin: 20px 0px;
}

.contact form{
  /*控制了整个input的宽度*/
  width: 40%;
  margin: 0px auto;
  position: relative;
}


.contact label{
  position: absolute;
  left: -25%;
  width: 20%;
  display: inline-block;
  text-align: right;
  height: 36px;
  line-height: 36px;
  margin: 10px 5px;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

    .container {
        width: 100%;
    }


    .main-header h1{
        font-size:32px ;
    }
    .main-nav .nav_item{
        display: block;
    }

    .info-section{
        padding: 10px;
    }

    li.whatido__skill{
        margin-bottom:40px;
        width: 100%;
    }
    .get-in-touch__list li img{
        height: 100px;
    }
    .education-experience__list{
        text-align: center;
    }
    .education-experience__list img{
        height: 180px;
        float: none;
        text-align: center;
    }
    .education-experience__list__description{
        float:none;
        width: 80%;
        margin: 0px auto;
        text-align: left;
    }

    .education-experience h2 span{
        display: block;
    }

    .photos__list li{
        width: 100%;
    }

    .get-in-touch__list li{
        box-sizing: border-box;
        float: left;
        width: 50%;
    }

    .contact form{
        margin: 30px auto;
        width: 100%;
    }

    .contact label{
        position: static;
        width: auto;
        height: auto;
        margin:0px 5px;
        line-height: normal;
    }
    .contact input, .contact textarea{
        margin: 0px auto;
        margin-bottom: 20px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

